.right-log {
	clear: both;
	float: right;
}
.left-media {
	clear: both;
	float: left;
}

div.dokuwiki .bar.admin-bar {
	float: right;
	background-color: white;
}

div.dokuwiki .bar.admin-bar .bar-left {
	border: 1px solid black;
}

div.dokuwiki .bar.admin-bar .bar-right {
	border: 1px solid black;
	margin-left: 10px;
}

div.dokuwiki div.meta {
	color: black;	
}
div.dokuwiki div.meta div.user { float: right; }

.meta .doc {
	float: right;
	clear: both;
}

div.dokuwiki div.left_sidebar.full-width { width: 100%; }

.sidebar-container { 
	width: 19%; 
	float: left; 
	margin-right: 0.4em;
}

div.dokuwiki div.inclmeta { 
	text-align: right;
}

.plugin_include_content {
	border: 1px solid black;
	margin-bottom: 0.4em;
}
div.dokuwiki .plugin_include_content h1 {
	border-bottom: none;
}

div.dokuwiki .bar {
	border: none;
	margin-top: 0.4em;
}

div.dokuwiki div.center_page.border {
	border: 1px solid black;
	border-radius: 0px;
	box-shadow: none;
	margin-top: 3px;
}
div.dokuwiki div.full-width div.sidebar_box {
	border-radius: 0px;
	border: 1px solid black;
	box-shadow: none;
}