.webcam-container {
	position: absolute;
	float: right;
	margin-right: 25px;
	width: 128px;
	top: 0px;
	right: 0px;
}
.webcam-container:hover {
	width: 400px;
	border: 3px solid black;
}

.webcam-container .webcam-noscript {
	display: none;
	font-weight: bold;
	text-align: center;
}
.webcam-container:hover .webcam-noscript {
	display: block;
}


.webcam-container .webcam {
	height: 128px;
	width: 128px;
}
.webcam-container:hover .webcam {
	height: 400px;
	width: 400px;
}

.right-log {
	clear: both;
	float: right;
}
.left-media {
	clear: both;
	float: left;
}

div.dokuwiki div.left_sidebar.full-width { width: 100%; }

.sidebar-container { 
	width: 24%; 
	float: left; 
}

.sidebar-container * ul {
	margin-left: 0px;	
}

.sidebar-container * li {
	list-style-type: none;
}


div.dokuwiki div.inclmeta { 
	text-align: right;
}

.plugin_include_content {
	border: __boxborder__;
	margin-bottom: __margin__;
	background-color: white;
}
div.dokuwiki .plugin_include_content h1 {
	border-bottom: none;
}

.submenu-container {
	position: relative;
}
.submenu-container * .sidebar_box {
	position: relative;
}

#subcancel {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
}
.submenu {
	display: none;
	position: absolute;
	z-index: 901;
	width: 336px;
}

.admin_page {
  	margin-top:3px;
 	text-align: justify;
 	float: left;
 	width: 98%;
	padding: 2% !important;
 	padding: 1%;
 	border: __boxborder__;
 	background-color: white;
}

.stylehead {
	margin-bottom: 1em;
}


div.dokuwiki li.level1 {
	line-height: 27px;
}

div.dokuwiki div.bar a.backlink,
div.dokuwiki div.bar a.recent,
div.dokuwiki div.bar a.admin {
	clear: both;
}

div.dokuwiki * div.footer.center {
	margin: 0 auto;
	width: 654px;
	height: 50px;
	border: __boxborder__;
	background-color: white;
}
div.dokuwiki * div.footer.row {
	text-align: center;
	clear: both;
	padding: 0 4px;
}

div.dokuwiki * div.footer.row.top {
	width: 600px;
}

div.dokuwiki * div.footer.column {
	float: left;
	background-color: white;
	position: relative;
}

div.footer.center * div.hidden-box {
	position: absolute;
	top: 0px;
	background-color: white;
	border: __boxborder__;
	display: none;
	width: 350px;
}

div.arrow:hover + div.hidden-box {
	display: block;
}

div.footer.center * div.hidden-box.left {
	left: -370px;
}

div.footer.center * div.hidden-box.right {
	right: -370px;
}

label.arrow {
	margin: 0 4px;
	height: 50px;
	width: 15px;
	background-image: url(images/arrows.png);
	background-repeat: no-repeat;
  	display: inline-block;
  	cursor: pointer;
}

label.arrow.left { background-position: 0px 0px; }
label.arrow.right { background-position: -15px 0px; }

input.hidden-check[type=checkbox] {
	display: none;
}

input.hidden-check[type=checkbox]:checked ~ div.hidden-box.left {
   display: block;
}
input.hidden-check[type=checkbox]:checked ~ div.hidden-box.right {
   display: block;
}