/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 * @author Michael Klier <chi@chimeric.de>
 * @author Andre Löffler <github@andre-loeffler.net>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 3px 0 0 2px;
  height: __header_height__;
  border: 1px solid __border__;
  background-color: __header_background__;
  margin-bottom: 0.2em;
}

div.dokuwiki .pagename {
  float: left;
  font-weight: bolder;
  font-size: 130%;
  text-align: left;
  vertical-align: middle;
  margin: 0.2em;
  color: __lightgray__;
}

div.dokuwiki .pagename a {
  color: __pagename_color__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: right;
  font-weight: bolder;
  text-align: right;
  vertical-align: middle;
  margin: 0.2em;
  font-size: 130%;
}

div.dokuwiki .logo a {
  color: __logo_color__ !important;
  text-decoration: none !important;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  padding: 0.1em 0.15em;
  margin-top: __margin__;
}

div.dokuwiki .bar-left {
  float: left;
  margin-right: 11px;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
  color: black;
  padding: 0 0.5em 0 0.5em;
}

div.dokuwiki div.meta div.user {
  float: right;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
  float: right;
}

div.dokuwiki #bar__top { 
  background: none;
}

div.dokuwiki div.footerinc div.license {
  display: inline;
  padding: 0;
  font-size: 100%;
}

div.dokuwiki div.footerinc div.license img {
  float: none;
  margin: 0;
}
div.dokuwiki .userlink {
	border: __boxborder__;
	padding: __margin__;
	float: right;
	background-color: white;
}
